@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* PROFILE */

@media screen and (max-width: 430px) {
    #profile-top-nav {
        width: 100dvw;
        height: 9dvh;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        background-color: black;
        z-index: 1500;
    }

    #profile-page-menu {
        width: 100dvw;
        height: 5dvh;
        /* margin: 13.199px 20px;
        padding: 5px; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    #profile-page-menu div {
        width: 70dvw;
        height: 100%;
        margin: 10px 0;
        padding: 3px;
        display: flex;
        border-radius: 6dvw;
        flex-wrap: nowrap;
        justify-content: center;
        background-color: #545454;
    }

    #profile-page-menu .profile-current-subpage, .profile-other-subpages {
        /* width: calc(100% / 3); */
        width: calc(70dvw / 3);
        height: 100%;
        box-sizing: border-box;
        padding: 7px 0;
        display: grid;
        align-content: center;
        font-weight: 400;
        /* font-size: 17px; */
        font-size: 4.1dvw;
        text-decoration: none;
        text-align: center;
        color: white;
        border-radius: 6dvw;
    }

    #profile-page-menu .profile-current-subpage {
        background-color: rgb(160, 160, 170);
        color: white;
    }

    #profile-page-menu .profile-other-subpages {
        color: #c7c7c7;
    }

    #profile-page-menu .profile-current-subpage:hover {
        background-color: rgb(160, 160, 170);
        color: white;
        -webkit-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }

    #profile-page-menu .profile-other-subpages:hover {
        background-color: rgb(160, 160, 170);
        color: white;
        -webkit-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }

    .settings {
        text-align: center;
        text-decoration: none;
    }

    .share {
        background-color: transparent;
        border: none;
        padding: 0;
    }

    .settings, .share {
        width: 15dvw;
        height: fit-content;
        cursor: pointer;
    }

    .settings img, .share img {
        /* height: 25px; */
        height: 3dvh;
    }

    .profile-header {
        width: 100dvw;
        min-height: 14dvh;
        padding: 2dvh 8dvw 2dvh 5dvw;
        box-sizing: border-box;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8dvw;
        /* border-bottom: 0.5px solid rgb(193, 199, 207, 0.748); */
    }

    .profile-icon {
        width: 20dvw;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
    }

    /* .profile-circle {
        width: 100%;
        height: 96%;
        position: absolute;
        top: 0;
        background-color: #c7c7c7;
        border-radius: 50%;
        z-index: -1;
    } */

    .profile-stats-container {
        width: 67dvw;
        min-height: 20dvw;
        display: grid;
        gap: 1.5dvh;
        align-content: space-around;
    }

    .profile-stats a, .bio {
        font-size: 3.27dvw;
        font-weight: 550;
        text-decoration: none;
        color: #c7c7c7;
        margin: 0;
    }

    .profile-stats a {
        max-width: calc(70dvw / 3);
        display: grid;
        text-align: center;
    }

    .profile-stats p {
        margin: 0;
        padding: 0;
    }

    .profile-stats a:hover {
        color: #38b6ff;
    }

    .profile-stats {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bio {
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    #mini-page-menu {
        width: 95dvw;
        height: 4dvh;
        margin: 0 2dvw 1dvh 2dvw;
        padding: 0.5dvw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        border-radius: 5dvw;

        /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
        background-color: #071220; */
        /* background-color: #313741; */
        position: sticky;
        top: 10dvh;
        left: 0;
    }

    #mini-page-menu a {
        height: 4dvh;
        padding: 0.5dvh 0;
        box-sizing: border-box;
        font-weight: 400;
        font-size: 4.1vw;
        text-decoration: none;
        text-align: center;
        color: white;
        border-radius: 4dvw;
        align-content: center;
    }

    #mini-page-menu .mini-current-subpage, .mini-other-subpages {
        width: 50%;
    }

    #mini-page-menu .mini-current-subpage {
        background-color: #545454;
        color: white;
    }

    #mini-page-menu .mini-other-subpages {
        color: #c7c7c7;
        background-color: black;
    }

    #mini-page-menu a:hover {
        background-color: rgb(160, 160, 170);
        color: white;
        -webkit-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }

    .reading-profile {
        width: 100dvw;
        height: fit-content;
        display: grid;
        padding: 0 3dvw;
        box-sizing: border-box;
        /* border-top: 0.5px solid rgb(193, 199, 207, 0.748);
        border-bottom: 0.5px solid rgb(193, 199, 207, 0.748); */
    }

    .reading-profile a {
        height: 3.5dvh;
        text-decoration: none;
    }

    .reading-profile p {
        font-weight: 400;
        font-size: 3.2655dvw;
        color: #c7c7c7;
    }

    .reading-profile p:hover {
        color: #38b6ff;
    }

    .profile-info {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0.4973dvh 2dvw;
    }

    .reading-challenge-progress-bar-contents {
        display: flex;
        gap: 1.5dvw;
        width: 35%;
        margin-left: 20px;
        align-items: center;
    }

    .reading-challenge-progress-bar-border {
        width: 100%;
        min-width: 15px;
        background-color: #737373;
        overflow: hidden;
    }

    .reading-challenge-progress-bar-grey {
        height: 1dvh;
        width: 0%;
        background-color: #c7c7c7;
    }

    .reading-challenge-progress {
        width: fit-content;
        margin: 0;
    }

    .add-favorite {
        width: 21dvw;
        aspect-ratio: 2 / 3;
        margin: 1dvh 0;
        padding: 0;
        border: 0.5px solid rgb(193, 199, 207, 0.748);
        border-radius: 1dvw;
        font-size: 8dvw;
        color: #c7c7c7;
        background-color: #545454;
        cursor: pointer;
    }

    .add-favorite:hover {
        background-color: rgb(160, 160, 170);
        color: white;
        -webkit-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }

    .slider {
        position: fixed;
        width: 100dvw;
        height: 83dvh;
        /* height: 98.5dvh; */
        bottom: 0;
        overflow: hidden;
        background-color: #071220;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
        z-index: 10000;
        transition: all 0.4s;
    }
    
    .slider.close {
        bottom: 0;
        height: 0;
    }

    #fav-btn {
        width: 6dvw;
        height: 3dvh;
        padding: 0;
        border-radius: 2dvw;
    }

    .recent-activity-book-rating {
        display: flex;
        gap: 0.2dvw;
        height: 1dvh;
        width: 15dvw;
        margin-top: 0.7dvh;
        position: relative;
    }

    .mini-green-stars {
        display: flex;
        gap: 0.2dvw;
        width: 100%;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    .mini-green-stars-img {
        max-width: 3dvw;
        height: 1dvh;
        margin: 0;
        border: none;
        box-shadow: none;
        vertical-align: middle;

    }

    .half-star {
        margin: 0;
        padding: 0;
        border: none;
        /* position: absolute; */
        /* font-family: 'PT Serif'; */
        font-size: 0.9em;
        font-weight: 550;
        color: #2fcc25;
        text-decoration: none;
    }

    .ratings {
        width: 90dvw;
        height: 5dvh;
        margin: 3dvh 5dvw 2dvh 5dvw;
        display: flex;
        gap: 2dvw;
        justify-content: space-between;
        align-items: flex-end;
    }

    .mini-green-star {
        display: flex;
        gap: 2px;
        width: fit-content;
        height: fit-content;
        flex-wrap: nowrap;
    }

    .mini-green-star img {
        max-width: 3dvw;
        height: 1dvh;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .rating-bars-container {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2px;
        align-items: flex-end;
    }

    .rating-bar {
        width: 10%;
        height: 50px;
        background-color: #737373;
    }

    .rating-bar:hover {
        background-color: #c7c7c7;
        -webkit-transition: background-color 0.2s linear;
        -ms-transition: background-color 0.2s linear;
        transition: background-color 0.2s linear;
    }

    #jackie-half {
        height: 5%;
    }

    #jackie-one {
        height: 10%;
    }

    #jackie-one-half {
        height: 10%;
    }

    #jackie-two {
        height: 15%;
    }

    #jackie-two-half {
        height: 30%;
    }

    #jackie-three {
        height: 60%;
    }

    #jackie-three-half {
        height: 100%;
    }

    #jackie-four {
        height: 70%;
    }

    #jackie-four-half {
        height: 40%;
    }

    #jackie-five {
        height: 15%;
    }

    .ratings-count-display {
        height: fit-content;
    }

    .ratings-num-count {
        font-size: 2em;
        font-weight: 400;
        color: white;
        text-align: center;
        margin-bottom: 5px;
    }

    .profile-info-nums {
        display: flex;
        gap: 1.5dvw;
        height: 100%;
        width: fit-content;
        align-items: center;
    }

    .mini-right-caret {
        width: 3dvw;
        height: 1dvh;
    }
}