
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #313741;
    /* height: 812px; */
    height: 100%;
    /* width: 375px; */
    width: 100%;
    padding: 0;
    margin: 0;
}

#menu {
    width: 100%;
    height: 10%;
    background-color: #78859a;
    position: fixed;
    bottom: 0;
    border-top: 0.5px solid #c7c7c7;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    z-index: 100;
}

#menu a {
    width: 20%;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

.current-page img, .other-pages img {
    height: 40%;
}

#top-nav {
    left: 0;
    position: fixed;
    width: 100%;
    top: 0;
    border: none;
    border-bottom: 0.5px solid rgba(193, 199, 207, 0.748);
}

#search-bar {
    background-color: black;
}

#search-bar input[type=text] {
    width: calc(100% - 80px);
    min-height: 22.5px;
    padding: 10px 20px;
    margin: 10px 20px;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    color: #545454;
    background-color: #c7c7c7;
    border: none;
    border-radius: 25px;
}

#page-menu {
    width: calc(100% - 40px);
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}

#page-menu a {
    padding: 7px 0;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 10px;
}

#page-menu .current-subpage, .other-subpages {
    width: 25%;
}

#page-menu .current-discover-subpage, .other-discover-subpages {
    width: 50%;
}

#page-menu .current-subpage, .current-discover-subpage {
    background-color: #545454;
    color: white;
}

#page-menu .other-subpages, .other-discover-subpages {
    color: #c7c7c7;
    background-color: black;
}

#page-menu a:hover {
    background-color: rgb(160, 160, 170);
    color: white;
}

.empty-header p, .empty-small-header p .empty-footer p, .empty-20-row p, .empty-10-row p, .empty-5-row p {
    width: calc(100% - 40px);
    padding: 0;
    background-color: rgba(193, 199, 207, 0.748);
    margin: 0;
}

.empty-header {
    margin: 150px 0 0 0;
}

.empty-small-header {
    margin: 83px 0 0 0;
}

.empty-footer {
    margin: 0 0 95px 0;
}

.empty-20-row {
    margin: 0 0 20px 0;
}

.empty-10-row {
    margin: 0 0 10px 0;
}

.empty-5-row {
    margin: 0 0 5px 0;
}

.current-out-header, .current-in-header {
    width: calc(100% - 40px);
    margin: 0 20px 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.current-out-header {
    justify-content: space-between;
}

.current-in-header {
    justify-content: center;
}

.in-header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.out-header-title, .show-more, .in-header-title {
    font-family: "PT Serif";
    color: #c7c7c7;
    text-decoration: none;
    justify-content: space-between;
}

.out-header-title, .in-header-title {
    font-weight: 550;
    font-size: 17px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.out-header-title {
    text-align: left;
}

.show-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.num-books {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-more img, .left-show-more-arrow img {
    width: 16px;
    height: auto;
    padding-top: 1.6525px;
}

.show-more img {
    float: right;
}

.left-show-more-arrow img {
    float: left;
    transform: scaleX(-1);
}

.left-show-more-arrow {
    text-decoration: none;
}

.in-header-title {
    flex: 1;
    margin-left: -3%;
    text-align: center;
}

.book-row {
    margin-left: 20px;
    display: flex;
    overflow-x: scroll !important;
}

.book-thumbnail {
    text-decoration: none;
    float: left;
}

.book-thumbnail img {
    height: 180px;
    margin: 10px 13px 10px 0;
    border: 0.5px solid #c7c7c7;
    vertical-align: middle;
}

.notif {
    margin: 10px 20px;
    padding: 20px 30px;
    background-color: black;
    border: 0.5px solid #c7c7c7;
    border-radius: 15px;
}

.book {
    width: 100%;
    display: flex;
    align-items: center;
}

.genre, .book-title, .author {
    text-decoration: none;
    font-family: "PT Serif";
    width: fit-content;
}

.notif-info {
    font-size: 17px;
    margin-bottom: 10px;
}

.popular-notif, .genre {
    display: inline;
}

.popular-notif {
    font-weight: 200;
    color: white;
}

.genre {
    font-weight: 550;
    color: #0097b2;
}

.book-info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px 0;
    gap: 10px;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.book-title {
    font-size: 15px;
    font-weight: 550;
    color: #c7c7c7;
    margin: 5px 20px 0 5px;
}

.author {
    font-size: 13px;
    color: white;
    margin: 0px 20px 0 5px;
}

.want-to-read-btns {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.read-check {
    display: none;
}

.read-check.checked {
    height: 12px;
    width: 24px;
    background-image: url('white_checkmark_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.status-label, .dropdown-btn {
    font-family: "PT Serif";
    font-size: 15px;
    font-weight: 550;
    height: 34px;
    text-decoration: none;
    background-color: #42946d;
    color: white;
    text-align: center;
    cursor: pointer;
}

.mini-status-label {
    background-color: transparent;
}

input[type="checkbox"] + label {
    border: none;
    border-radius: 2px;
}

.dropdown-btn {
    width: fit-content;
    border: none;
    border-radius: 2px;
    margin-left: 1px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.874);
    z-index: 10;
}

.dropdown-content {
    /* position: absolute; */
    padding: 10px;
    width: 210px;
    height: 240px;
    background: #545454;
    border: 0.5px solid #c7c7c7;
    border-radius: 2px;
    overflow-y: scroll;
}

/* .hidden {
    display: none !important;
}

.dropdown-content.hidden, .dropdown-overlay.hidden {
    display: none;
} */

.mini-search-bar input[type=text] {
    width: calc(100% - 10px);
    min-height: 17px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    background-color: rgb(193, 199, 207);
}

.shelf-checkboxes {
    margin-bottom: 69px;
}

.dropdown-content input[type="checkbox"] + label {
    font-family: "PT Serif";
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: left;
    display: block;
    width: calc(100% - 10px);
}

.dropdown-content label:hover {
    /* background-color: palevioletred; */
    background-color: rgb(160, 160, 170);
    font-weight: 550;
}

/* .mini-status-checkbox[data-status="want-to-read"]:hover + label {
    background-color: #42946d;
    font-weight: 550;
}

.mini-status-checkbox[data-status="currently-reading"]:hover + label {
    background-color: rebeccapurple;
    font-weight: 550;
}

.mini-status-checkbox[data-status="read"]:hover + label {
    background-color: indianred;
    font-weight: 550;
} */

.dropdown-content input[type="checkbox"]:checked + label {
    font-weight: 550;
    background-color: palevioletred;
}

.mini-status-checkbox[data-status="want-to-read"]:checked + label.mini-status-label {
    background-color: #0097b2;
}

.mini-status-checkbox[data-status="currently-reading"]:checked + label.mini-status-label {
    background-color: rebeccapurple;
}

.mini-status-checkbox[data-status="read"]:checked + label.mini-status-label {
    background-color: indianred;
}

.status-checkbox, .mini-status-checkbox {
    display: none;
}

.add-shelf-btn {
    display: inline-block;
    background-color: #545454;
}

.show-input-btn {
    font-family: "PT Serif";
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(59, 58, 58);
    text-align: center;
    display: block;
    width: 210px;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}

.dropdown-bottom-btns {
    display: block;
    width: 210px;
    border: none;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.show-input-btn.hide {
    display: none;
}

.input-container {
    display: none;
}

.input-container.show {
    display: flex;
    width: 210px;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 5px;
}

.create-shelf-name {
    font-family: "PT Serif";
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(59, 58, 58);
    text-align: center;
    display: inline-block;
    /* margin-right: 10px; */
    width: 75%;
    border: none;
    border-radius: 2px;
}

.create-shelf-btn {
    font-family: "PT Serif";
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(59, 58, 58);
    text-align: center;
    display: inline-block;
    width: 25%;
    border: none;
    border-radius: 2px;
}

.done-btn {
    font-family: "PT Serif";
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgb(59, 58, 58);
    text-align: center;
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    border-bottom: 10px solid #545454;
}

.dropdown-content, .dropdown-overlay {
    display: none;
}

.dropdown-content.show, .dropdown-overlay.show {
    display: block;
}

.status-label {
    display: inline-block;
    width: 150px;
    line-height: 34px;
}

.status-label.want-to-read, .dropdown-btn.want-to-read {
    background-color: #0097b2;
}

.status-label.currently-reading, .dropdown-btn.currently-reading {
    background-color: rebeccapurple;
}

.status-label.read, .dropdown-btn.read {
    background-color: indianred;
}




/* Home --> Groups */
.group-row {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group {
    text-decoration: none;
}

.group-thumbnail {
    text-decoration: none;
}

.group-thumbnail img {
    width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 10px 13px 10px 0;
    border: 0.5px solid #c7c7c7;
    border-radius: 10px;
}

.group-thumbnail, .group-info {
    display: inline-block;
    vertical-align: middle;
}

.group-info p {
    display: block;
    text-decoration: none;
    font-family: "PT Serif";
    width: fit-content;
}

.group-name {
    font-size: 15px;
    font-weight: 550;
    margin: 5px 0;
    color: white;
}

.group-stats {
    font-size: 13px;
    color: #c7c7c7;
    display: flex;
}

.group-stats p {
    margin: 5px 5px 5px 0;
}

.join-group-btn {
    display: flex;
}

input[type="checkbox"].group-status-checkbox + label {
    width: 20px;
    height: 20px;
    flex: none;
    margin: 31.5px;
    text-decoration: none;
    text-align: center;
    line-height: 18px;
    color: #2fcc25;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #2fcc25;
    border-radius: 50%;
    /* background-image: url(https://static.vecteezy.com/system/resources/thumbnails/017/350/124/small_2x/plus-icon-design-png.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center; */
}

.group-status-checkbox {
    display: none;
}

.group-status-label {
    cursor: pointer;
}

input[type="checkbox"].group-status-checkbox:checked + label {
    background-color: #38b6ff;
    border: 2px solid #38b6ff;
    color: transparent;
    background-image: url(https://static-00.iconduck.com/assets.00/checkmark-icon-512x426-8re0u9li.png);
    /* background-size: contain; */
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 53%;
}

.partial-linebreak {
    display: block;
    border: 0;
    border-bottom: 0.5px solid rgb(193, 199, 207, 0.748);
    margin: 0 0 0 20px;
    padding: 0;
}

.tag-row {
    margin: 0 20px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tag {
    position: relative;
    width: fit-content;
    height: 30px;
    padding: 0 15px 0 10px;
    margin: 10px 20px 10px 8px;
    cursor: pointer;
    font-family: "PT Serif";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: white;
    background-color: #42946d;
}

.tag:after {
    position: absolute;
    content: "";
    left: -13px;
    width: 1px;
    height: 0px;
    border-right: 12px solid #42946d;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.browse-list {
    display: flex;
    flex-direction: column;
}

.browse-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.list-line {
    background-color: rgba(193, 199, 207, 0.748);
    height: 0.5px;
    width: 95%;
    margin: 0 2.5%;
}

.browse-item h1 {
    font-size: 15px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 200;
    margin: 0;
}

.browse-item img {
    height: 15px;
    filter: opacity(0.5) drop-shadow(0 0 0 white);
}

/* My Books */
.add-bookshelf-btn {
    background-color: black;
    background-image: url('add_bookshelf_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    display: flex;
}

.books-currently-reading {
    border-bottom: 0.5px solid rgb(193, 199, 207, 0.748);
    max-height: 471.5px;
    overflow-y: hidden;
}

.mini-notif {
    margin: 10px 20px;
    padding: 5px 25px;
    width: 284px;
    display: flex;
    background-color: black;
    border: 0.5px solid #c7c7c7;
    border-radius: 15px;
}

.mini-book-thumbnail {
    text-decoration: none;
    float: left;
}

.mini-book-thumbnail img {
    height: 90px;
    margin: 10px 13px 10px 0;
    border: 0.5px solid #c7c7c7;
    vertical-align: middle;
}

.progress-bar-contents {
    display: flex;
    gap: 10px;
    height: 17px;
    width: 100%;
    margin: 0px 20px 5px 5px;
}

.progress-bar-border {
    width: 100%;
    min-width: 15px;
    background-color: #737373;
    overflow: hidden;
}

.progress-bar-grey {
    height: 17px;
    width: 30%;
    background-color: #c7c7c7;
}

.percent-progress {
    font-family: "PT Serif";
    font-size: 13px;
    color: #c7c7c7;
    width: fit-content;
    margin: 0;
}

.edit-progress-btn {
    background-color: black;
    background-image: url('edit_pencil_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

input[type="checkbox"].finished-checkbox + label {
    height: 12px;
    width: 21px;
    background-color: black;
    background-image: url('blue_checkmark_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.pages-checkbox, .percent-checkbox, .finished-checkbox {
    display: none;
}

.circle {
    height: 20px;
    width: 20px;
    background-color: #545454;
    border-radius: 50%;
    background-image: url(grey_lock_icon.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}